body {
    font-family: sans-serif;
}

.dwi-page-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid lightgrey;
}

.embedded-text {
    margin-top: 10px;
}

.embedded-text-label {
    font-weight: bold;
}

.embedded-text-value {
    font-style: italic;
}

.item-label {
    font-weight: bold;
}

.item-row {
    margin-bottom: 10px;
}

.item-image {
    border: dashed 1px gray;
}